/* ========================================================
   # Import Statements
======================================================== */
@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "compass/css3/transform";
@import "compass/utilities";
@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";
@import "libs/grid";
@import "libs/typography"; 	





/* ========================================================
   # Extends
======================================================== */
.is-uppercase {		text-transform:uppercase; letter-spacing:1px; }

.is-inline{			@include inline-block(); }

.is-centered{		text-align:center; }

.clearfix{			@include clearfix(); }





/* ========================================================
   # General Styles
======================================================== */
body { width: 100%;  @extend .clearfix; }



//--------------------------------------------  Containers
.container {
	@extend .clearfix; 
	margin: 	0 auto; 
	padding:	0 20px;
	max-width: 	1200px; 
	position:	relative;
	
}
.contain{
	@extend .clearfix;
	@include padding-leader(10);
	display:	block;
	max-width:	960px;
	width:		90%;
	margin:		0 auto;
}

@media screen and (min-width:40em){
	.container{ width:90% }
}



//--------------------------------------------  Images
img{ 
	max-width:	100%; 
	height:		auto; 
}
.responsive-image img{ 
	display:	block; 
	margin:		0 auto; 
}
.mw_image.responsive-image{
	display:	block;
	padding:	25px;
}



//--------------------------------------------  Shortcodes
.half{ @include padding-trailer(6); }

@media screen and (min-width:48em){
	.half{ width:45%; margin:0 5% 0 0; float:left; }
}





/* ========================================================
   # General Styles
======================================================== */



//--------------------------------------------  Header
header {
	@include padding-leader(2);
	@include padding-trailer(2);
	background:transparent;
	width:		100%;
	position:	fixed;
	top:		0;
	z-index:	1000;
	h1{ 
		display:none;
	}
}

nav.post-nav{
	width:50%;
	float:right;
	a{
		display:block;
		height:39px;
		width:39px;
		float:right;
		margin:0 10px;
		border:4px solid $primary;
		@include border-radius(50%);
	}
	.menu-click{
		text-indent:-999999px;
		@include transition(all 1.5s ease-in-out);
		@include translateZ(0);
		@include rotate(0deg);
		span{
			position:relative;
			display:block;
			height:2px;
			width:23px;
			margin:0 auto;
			background:$primary;
			top:14px;
			@include transition(all .5s ease-in-out);
		}
		span:before, 
		span:after{
			content:'';
			position:absolute;
			display:block;
			height:2px;
			width:23px;
			background:$primary;
			@include transition(all .5s ease-in-out);
		}
		span:before{
			top:-5px;
		}
		span:after{
			bottom:-5px;
		}
	}
	.menu-click.active{
		@include rotate(720deg);
		span{
			background:transparent;
			&:before, 
			&:after{
				background:$white;
			}
		}
		span:before{
			@include rotate(45deg);
			top:0px;
			height:4px;
		}
		span:after{
			@include rotate(-45deg);
			top:0px;
			height:4px;
		}
	}
	a[rel="prev"]{
		text-indent:-99999px;
		span{
			position:relative;
			display:block;
			height:2px;
			width:10px;
			margin:0 auto;
			background:$primary;
			top:10px;
			right:-2px;
			@include rotate(45deg);
			&:after{
				content:"";
				display:block;
				position:absolute;
				height:2px;
				width:10px;
				background:$primary;
				top: 5px;
				right: -5px;
				@include rotate(-90deg);
			}
		}
	}
	a[rel="next"]{
		text-indent:-99999px;
		span{
			position:relative;
			display:block;
			height:2px;
			width:10px;
			margin:0 auto;
			background:$primary;
			top:10px;
			left:-2px;
			@include rotate(-45deg);
			&:after{
				content:"";
				display:block;
				position:absolute;
				height:2px;
				width:10px;
				background:$primary;
				top: 5px;
				left: -5px;
				@include rotate(90deg);
			}
		}
	}
}

//--------------------------------------------  Navigation
.menuContainer{
	display:none;
}
.menuContainer.active{
	display:block;
	height:100%;
	width:100%;
	position:fixed;
	z-index:500;
	background:$highlight-o;
	padding:6em 0;
	.menu{
		list-style-type:none;
		width:90%;
		margin:0 auto;
		max-width:1200px;
		padding:20px;
	}
	li.disabled {
		margin-top:2em;
		a{
			color:$primary;
			@extend .bold;
			@include adjust-font-size-to(16px);
			@extend .is-uppercase;
		}
	}
	a{ 
		font-family: "aktiv-grotesk-std",sans-serif;
		font-weight:300;
		@include adjust-font-size-to(32px, 6);
		color:$white;
		text-decoration:none;
	}
}

//--------------------------------------------  Home Page
.intro-content{
	padding:15% 0 0 0;
	@extend .clearfix;
}

.home .intro{
	padding:0 0 15% 0;
}

.home .project{
	border-top:1px solid #ebebeb;
	padding:10% 0;
	width:100%;
	background: #f9f9f9;
	.responsive-image{ 
		@include trailer(8); 
	}
}

@media screen and (min-width:54em){
	.intro-content{
		@include column(12);
		.columns{ 
			@extend .clearfix;
			width:100%;
		}
	}
	.home .project{
		.project-content{ 
			@include column(3);
		}
		.responsive-image{ 
			@include column(9); 
		}
		&:nth-of-type(odd){
			background: $white;
			.project-content,
			.responsive-image{
				float:right;
			}
		}
	}
}


@media screen and (min-width:80em){
	.intro-content .columns{
		@include adjust-font-size-to(20px, 5);
	}
}


//--------------------------------------------  Single Projects

.photos{
	background: #f0f0f0;
}

.photos,
.fw_images{
	padding:2.5em 0;
}

.project-intro{
	margin:0 0 1em 0;
}

.caption{
	color:$tertiary;
	padding:0 0 1em 0;
	@include adjust-font-size-to(14px);
	strong{
		font-weight:800;
	}
}

@media screen and (min-width:40em){
	.project-intro:after{ 
		bottom:-200px; 
	}
}





//--------------------------------------------  Footer
footer{
	background:$highlight-o;
	padding:15px 0;
	color:$white;
	font-family: "aktiv-grotesk-std",sans-serif;
	font-weight:300;
}

//-------------------------------------------------------------------------------------------------  Print styles
@media print {body {font-size: percentage(10 / 16);@include adjust-leading-to(2);}}

//-------------------------------------------------------------------------------------------------  IOS specifics 
@media screen and (max-width: 769px) {-webkit-text-size-adjust:none;}